$main-color:#000;
$style-color:#009ab1;
$font-main:"ProximaNova", sans-serif;
$text-color:#5f5f5f;
$text-color-style: #ff725d;
$second-color: #568427;


$border-category:#ccc;
$hover-category:#34394c;
$border-input:#71717a;
$message-border:#ccc;
$border-icon:#01b9c3;
$description-color-1:#0093b5;
$description-color-2:#1e2e3e;
$description-color-3:#3f3d3e;
$description-color-4:#0093b5;
$description-color-5:#353541;
$description-color-6:#6176ab;
$social-color:#9b9b9b;
$nav-menu:#353541;
$border_nav:#282835;
$about_project_background:#f9f9f9;
$technologies_border:#e5e5e5;
$list_comments_before:#f9f9f9;
$list_comments_after:#fb6470;
$block_comment:#353541;
$data_comments_color: #fb6470;
$btn-menu: rgb(90,90,90);

